<ul class="nav justify-content-center">
    {% if request.user.is_authenticated %}
    <li class="nav-item">
        <a class="nav-link" href="/">{{user.username}} | menu</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">logout</a>
    </li>
    {% else %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'register' %}">register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'rand_word' %}">random word mode</a>
    </li>
    {% endif %}
</ul>